a[highlight] {
    font-weight: bold;
    text-decoration: underline;
}

h1.logo {
    margin: var(--lumo-space-m);
}

.list-view .content {
    display: flex;
}

.list-view .contact-grid {
    flex: 2;
}

.list-view .contact-form {
    flex: 1;
    padding: var(--lumo-space-m);
}

.dashboard-view .contact-stats {
    font-size: 4em;
    margin: 1em 0;
}

@media all and (max-width: 1000px) {
    .list-view.editing .contact-grid {
        display: none;
    }
}