a[highlight] {
    font-weight: bold;
    text-decoration: underline;
}

h1.logo {
    margin: var(--lumo-space-m);
}

.list-view .content {
    display: flex;
}

.list-view .customer-grid {
    flex: 2;
}

.list-view .customer-form {
    flex: 1;
    padding: var(--lumo-space-m);
}

@media all and (max-width: 750px) {
    .list-view.editing .customer-grid {
        display: none;
    }
}