a[highlight] {
    font-weight: bold;
    text-decoration: underline;
}

.header {
    padding: 0 var(--lumo-space-m);
}

.header h1.logo {
    margin: var(--lumo-space-m);
}

.drawer-content {
    box-sizing: border-box;
    height: 100%;
    padding: var(--lumo-space-m);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.list-view .content {
    display: flex;
}

.list-view .contact-grid {
    flex: 2;
}

.list-view .contact-form {
    flex: 1;
    padding: var(--lumo-space-m);
}

.dashboard-view .contact-stats {
    font-size: 4em;
    margin: 1em 0;
}

@media all and (max-width: 1100px) {
    .list-view.editing .toolbar,
    .list-view.editing .contact-grid {
        display: none;
    }
}